---
jobs:
  test:
    name: '${{ matrix.os.name }}-${{ matrix.os.version }} (${{ matrix.os.architecture }})'
    runs-on: '${{ matrix.os.host }}'
    steps:
      - uses: actions/checkout@v4
      - env:
          MY_ENV1: MY_ENV1
          MY_ENV2: MY_ENV2
        name: 'Test on ${{ matrix.os.name }}'
        uses: cross-platform-actions/action@v0.22.0
        with:
          architecture: '${{ matrix.os.architecture }}'
          cpu_count: 4
          environment_variables: MY_ENV1 MY_ENV2
          memory: 5G
          operating_system: '${{ matrix.os.name }}'
          run: |
            uname -a
            echo $SHELL
            pwd
            ls -lah
            whoami
            env | sort
            sudo ${{matrix.os.pkg}} perl${{matrix.perl}}
            /usr/local/bin/perl5.38.2 -v
            curl -L https://cpanmin.us | sudo /usr/local/bin/perl5.38.2 - --notest App::cpanminus Module::Build::Tiny
            sudo cpanm --installdeps --notest .
            sudo cpanm -v --test-only .
          shell: bash
          version: '${{ matrix.os.version }}'
    strategy:
      fail-fast: false
      matrix:
        os:
          - architecture: x86-64
            host: macos-12
            name: freebsd
            pkg: pkg install -y
            version: 13.2
        perl:
          - 5.38
name: '*BSD'
on:
  pull_request:
    branches: '*'
  push:
    branches: '*'
